<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aakash.studentmanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.aakash.studentmanager.Splash"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aakash.studentmanager.Email"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.aakash.studentmanager.EMAIL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aakash.studentmanager.SimpleBrowser"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="BROWSER" >
            <intent-filter>
                <action android:name="com.aakash.studentmanager.SIMPLEBROWSER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aakash.studentmanager.FirstStep"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="Add Course" >
            <intent-filter>
                <action android:name="com.aakash.studentmanager.FIRSTSTEP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aakash.studentmanager.ViewDetails"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="Course Details" >
            <intent-filter>
                <action android:name="com.aakash.studentmanager.VIEWDETAILS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aakash.studentmanager.SelectDegree"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="Personal Details" >
            <intent-filter>
                <action android:name="com.aakash.studentmanager.SELECTDEGREE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aakash.studentmanager.SemesterList"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_semester_list" >
            <intent-filter>
                <action android:name="com.aakash.studentmanager.SEMESTERLIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aakash.studentmanager.SemesterAdd"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_semester_add" >
            <intent-filter>
                <action android:name="com.aakash.studentmanager.SEMESTERADD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aakash.studentmanager.CourseList"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="Course List" >
            <intent-filter>
                <action android:name="com.aakash.studentmanager.COURSELIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aakash.studentmanager.MyBrowser"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_my_browser" >
            <intent-filter>
                <action android:name="com.aakash.studentmanager.MYBROWSER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aakash.studentmanager.LectureList"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="Lecture List" >
            <intent-filter>
                <action android:name="com.aakash.studentmanager.LECTURELIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aakash.studentmanager.LectureAdd"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_lecture_add" >
            <intent-filter>
                <action android:name="com.aakash.studentmanager.LECTUREADD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aakash.studentmanager.LectureView"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_lecture_view" >
            <intent-filter>
                <action android:name="com.aakash.studentmanager.LECTUREVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aakash.studentmanager.KeywordList"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="Keyword List" >
            <intent-filter>
                <action android:name="com.aakash.studentmanager.KEYWORDLIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aakash.studentmanager.KeywordAdd"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="Add Keywords" >
            <intent-filter>
                <action android:name="com.aakash.studentmanager.KEYWORDADD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aakash.studentmanager.AssignmentList"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="Assignment List" >
            <intent-filter>
                <action android:name="com.aakash.studentmanager.ASSIGNMENTLIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aakash.studentmanager.AssignmentAdd"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_assignment_add" >
            <intent-filter>
                <action android:name="com.aakash.studentmanager.ASSIGNMENTADD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aakash.studentmanager.AssignmentView"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_assignment_view" >
            <intent-filter>
                <action android:name="com.aakash.studentmanager.ASSIGNMENTVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DemoActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="com.aakash.studentmanager.demoactivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>